<section class="build">
	
	<div class="grid">
		<div class="demo"></div>
	</div>
	
	<div class="grid build cf">
		
		<div class="build-items">
		
			<% @output.each do |name, p| %>
				<div class="cateogry category-rack cf">
					<div class="category-title">
						<h3><%= name %></h3>
					</div>
					<ul class="cf">
						<% @output[name].each do |p_name, p| %>
							<li class="category-item"> <%= p.display_name %> </li>
						<% end %>
					</ul>			
				</div>
			<% end %>

		</div>

		<div class="build-summary">
			<h3>Summary</h3>
		</div>

	</div>

</section>